
<%= image_tag @portfolios_item.thumb_image %>

<h2><%= @portfolios_item.title %></h2>
<em><%= @portfolios_item.subtitle %></em>
<p> <%= @portfolios_item.body %> </p>
<%= image_tag @portfolios_item.main_image %>

<h2>Technology used</h2>

<% @portfolios_item.technologies.each do |t|%>
    <p> <%=t.name%> </p>
<%end %>

<%
=begin
%>
    <%= params.inspect%>
    <%= session.inspect%>
<%
=end
%>
